#############################
########### FLASK ###########
###### host 
####
## host(str): Server bind address. `0.0.0.0` for all addresses.
## Default=127.0.0.1
####
FLASK_HOST=

###### port 
####
## Default=8000
####
FLASK_PORT=

###### debug 
####
## Default=True
####
FLASK_DEBUG=

###### secret 
####
## Default=None
####
FLASK_SECRET=

#############################
###############################
########### GENERAL ###########
###### anonymous_mode 
####
## Default=False
####
GENERAL_ANONYMOUS_MODE=

###############################
################################
########### DATABASE ###########
###### connection_string 
####
## Default=sqlite:///.db/app.db
####
DATABASE_CONNECTION_STRING=

################################